:root {
  --bg-color: #002a3f;
  --primary-color: #00d2ff;
  --secondary-color: #2b84a3;
  --tertiary-color: #0f5a74;
  --success-color: #73b556;
  --warning-color: #ed9526;
  --error-color: #a11c43;
  --disabled-color: #d1d5db;
  --footer-bg-color: #0e2235;
  --grey-color: #9ca3af;
  --icon-grey-color: #d1d5db;
  --light-grey-color: #1e686c;
  --backdrop-color: rgba(255, 255, 255, 0.1);
  --main-font-size: 16px;
  --main-font-color: rgba(255, 255, 255, 1);
  --lighter-font-color: #4b5563;
  --main-font-color-inverted: rgba(0, 0, 0, 0.9);
  --button-border-radius: 18px;
  --header-height: 90px;
  --header-logo-width: 42px;
  --header-logo-height: 42px;
  --footer-height: 90px;
  --card-border-radius: 16px;
  --max-width: 400px;
}
